/manuscript/resources/session0/R for Water Professionals 2560x1440.psd
/casestudy1/thm-report.docx
/casestudy1/thm-report.html
/casestudy1/thm-report.log
/casestudy1/thm-report.tex
.gitignore
.Rproj.user
/.RData
/.Rhistory
